* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    background-color: var(--bg);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1000;

    width: 20%;
    height: 12%;

    border: 1px var(--border) solid;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border-radius: 50px 50px 0 0;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: end;
}

button {
    border: 1px solid var(--border);
    background-color: var(--bg);

    padding: 10px;
    border-radius: 50px;
}
