/* Header Dashboard */

.menu {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center; 
}

.menu ul {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;
}

.menu li {
    height: fit-content;
}

.menu ul a {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.menu ul a svg {
    width: 70%;
}

button {
    border: 1px solid var(--border);
    background-color: var(--bg);

    padding: 10px;
    border-radius: 50px;
}

/* Task Page Components */

.container-task .container-title {
    grid-area: title;

    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;

}

.container-task .shop-button {
    grid-area: button;
    width: 25%;
    height: 100%;

    border-radius: 10px;

    position: absolute;

    border: 1px solid var(--border);

    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-task .shop-button svg {
    height: 70%;
}

.container-task .shop-button a{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}


.container-task .container-bar {
    grid-area: bar;

    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 40px;

    border: 1px solid var(--border);
    border-radius: 10px; 

    overflow: hidden;
}

.container-task .container-bar .button-div {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.container-task .container-bar .button-div .line-div {
    width: 1px;
    height: 100%;
    background-color: var(--border);
}

.container-task .container-bar .button-div button {
    border: 0;

    border-radius: 0;
    padding: 0;

    width: 30%;
    max-width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-task .container-bar .button-div button svg {
    height: 60%;
}


.container-task .container-bar select { 
    border: 0;
    border-left: 1px solid var(--border); 
    background-color: var(--bg);

    width: 25%;
    height: 100%;
}

.container-task .container-list {
    grid-area: list;

    width: 100%;
    height: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
    overflow-x: hidden;

    list-style: none;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container-task .container-list::-webkit-scrollbar {
    display: none;
}

.container-task .container-list li {

    flex-shrink: 0;   
    list-style: none;

    width: 100%;
    height: 80px;

    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 10px;
}

