.menu ul {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    
    list-style: none;
}

.menu ul a {
    display: flex;
    justify-content: center;
    align-items: center;
}

