/* Header Dashboard */

.menu {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center; 
}

.menu ul {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;
}

.menu li {
    height: fit-content;
}

.menu ul a {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.menu ul a svg {
    width: 70%;
}

.menu a {
    color: var(--color);
}


/* Index Page Components */

.container-index form {
    width: 40%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border: 1px solid var(--border);
    border-radius: 15px;

    padding: 4.5%;
    padding-left: 6%;
    padding-right: 6%;
}

.container-index form input, .container-index form label {
    width: 100%;
}

.container-index form input, .container-index form button {
    height: 15%;
    padding-left: 10px;
}

.container-index form input {
    background-color: var(--bg);
    color: var(--color);
    border: 1px solid var(--border);
    border-radius: 10px;
}

.container-index #cadastro{
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
}

.container-index #cadastro h1 {
    margin-bottom: 10px;
}

.container-index form label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.container-index form h1 {
    margin-bottom: 20px;
}

.container-index form button {
    margin-top: 30px;
    width: 60%;
    font-size: 15px;
    color: var(--color);
}

.container-index form p {
    margin-top: 15px;
}

.container-index form p a {
    text-decoration: underline;
    color: blue;
}

.container-index .hidden {
    display: none;
}

/* Task Page Components */

.container-task .container-title {
    grid-area: title;

    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
}

.container-task .buttons-top {
    grid-area: button;
    width: 100%;
    height: 100%;

    border-radius: 10px;

    gap: 12px;

    display: flex;
    justify-content: end;
    align-items: center;
}


.container-task .buttons-top button{
    display: flex;
    width: 30%;
    height: 80%;
    padding: 5px;
    justify-content: center;

    border: 1px solid var(--border);
    border-radius: 5px;
}

.container-task .buttons-top button svg {
    height: 100%;
}



.container-task .container-bar {
    grid-area: bar;

    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 40px;

    border: 1px solid var(--border);
    border-radius: 10px; 

    overflow: hidden;
}

.container-task .container-bar .button-div {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.container-task .container-bar .button-div .line-div {
    width: 1px;
    height: 100%;
    background-color: var(--border);
}

.container-task .container-bar .button-div button {
    border: 0;

    border-radius: 0;
    padding: 0;

    width: 30%;
    max-width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-task .container-bar .button-div button svg {
    height: 60%;
}


.container-task .container-bar select { 
    border: 0;
    border-left: 1px solid var(--border); 
    background-color: var(--bg);

    width: 25%;
    height: 100%;
}

.container-task .container-list {
    grid-area: list;

    width: 100%;
    height: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
    overflow-x: hidden;

    list-style: none;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container-task .container-list::-webkit-scrollbar {
    display: none;
}

.container-task .container-list li {

    flex-shrink: 0;   
    list-style: none;

    width: 100%;
    height: 125px;

    padding: 10px;

    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 10px;

    display: grid;

    grid-template-areas: 
    'card-task-top card-task-top card-task-top buttons-crud'
    'title . . buttons-crud'
    'info-task info-task info-task buttons-crud'
    ;

    grid-template-columns: 2fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    place-items: center;
}

.container-task .container-list li .card-task-top {
    display: flex;

    grid-area: card-task-top;

    width: 100%;
    height: 100%;

    align-items: start;
}

.container-task .container-list li .card-task-top p{
    margin-right: 10px;
}

.container-task .container-list li h2 {
    grid-area: title;

    width: 100%;

}

.container-task .container-list li .buttons-crud {
    display: grid;

    grid-area: buttons-crud;

    grid-template-areas: 
    'finalizar finalizar'
    'editar remover'
    ;

    width: auto;
    height: auto;
    gap: 10px;
}

.container-task .container-list li .buttons-crud #finalizar-task {
    display: flex;

    grid-area: finalizar;

    border: 2px #99F87D solid;
    color: #99F87D;
    font-weight: bold;

    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.container-task .container-list li .buttons-crud #edit-task {
    display: flex;

    grid-area: editar;
}

.container-task .container-list li .buttons-crud #remove-task {
    display: flex;

    grid-area: remover;

    border: 2px #ff7678 solid;

   
}

.container-task .container-list li .buttons-crud button {
    display: flex;

    height: 100%;

    border-radius: 10px;
    border: 2px solid var(--border);
    padding: 5px;

    justify-content: center;
    align-items: center;
}

.container-task .container-list li .buttons-crud button svg {
    height: 75%;
}


.container-task .container-list li .info-task {
    display: flex;

    width: 100%;
    height: 100%;
    grid-area: info-task;
    align-items: end;
}

.container-task .container-list li .info-task div{
    display: flex;
    align-items: center;
    

    margin-right: 3%;
}

.container-task .container-list li .info-task div svg{
    margin-right: 8px;
}

.add-panel,
.edit-panel,
.delete-warning {
  position: absolute;
  z-index: 10;
  border: 1px solid var(--border);
  background-color: var(--bg);
}

/* estados desligados */
.add-panel { transform: translateY(-200%); }
.edit-panel { transform: translateX(-200%); }
.delete-warning { opacity: 0; pointer-events: none; }

.add-panel {
    width: 40%;
    height: 70%;
}

.edit-panel {
    width: 40%;
    height: 50%;
}

/* quando ativo */
#app.add-open .add-panel { transform: translateY(-25%); }
#app.edit-open .edit-panel { transform: translateX(-40% ); }
#app.delete-open .delete-warning {
  opacity: 1;
  pointer-events: auto;
}

/* fundo perde foco */
#app.add-open .container-task,
#app.edit-open .container-task,
#app.delete-open .container-task {
  filter: blur(6px);
  pointer-events: none;
}

/* Profile Page Components */ 

.button-achiments {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 5%;

    border: 1px solid var(--border);
    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 30px;

    border-radius: 10px;
}

.container-profile .container-image {
    grid-area: container-image;

    position: relative;
    width: 100%;
    height: 100%;


}

.container-profile .container-image .item-profile {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);

    border: 5px solid var(--bg);
    border-radius: 100px;

    width: 20%;
}

.container-profile .container-image img {
    width: 100%;
    height: 100%;
}

.container-profile .container-image #banner-profile {
    border: 3px solid var(--bg);
    border-radius: 10px;
}

.container-profile .container-bio {
    grid-area: container-bio;

    width: 100%;
    height: 100%;
}
