.menu {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    
}

.menu ul {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;
}

.menu li {
    height: fit-content;
}

.menu ul a {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.menu ul a svg {
    width: 70%;
}

button {
    border: 1px solid var(--border);
    background-color: var(--bg);

    padding: 10px;
    border-radius: 50px;
}

.container-task .container-title {
    grid-area: title;

    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;

}

.container-task .shop-button {
    grid-area: button;
    width: 25%;
    height: 95%;

    border-radius: 10px;

    position: absolute;

    top: 50%;
    right: 0;
    transform: translateY(-50%)
}

.container-task .container-bar {
    grid-area: bar;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 40px;

    border: 1px solid var(--border);
    border-radius: 10px; 
}

.container-task .container-list {
    grid-area: list;

    width: 100%;
    max-height: 2000px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
    overflow-x: visible;
    gap: 10px;

    & li {
        list-style: none;
        width: 100%;
        max-width: 99.5%;
        height: 80px;
        border: 1px solid var(--border) ;
        border-radius: 10px;
        box-sizing: border-box;
    }
} 

