

.container-task {
    padding: 20px 20px 0 20px;
    width: 50%;
    height: 90%;

    border: 1px solid var(--border);
    border-radius: 25px 25px 0 0;

    display: grid;
    grid-template-areas: 
    'title . . button'
    'bar bar bar bar'
    'list list list list'
    ;

    gap: 20px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;

    position: relative;
}

.container-profile {
    display: grid;
    grid-template-areas: 
    'container-image container-image container-image'
    'container-bio container-bio container-bio'
    'container-bio container-bio container-bio'
    ;

    gap: 10px;
    
    border: 1px solid var(--border);
    border-radius: 15px;

    width: 53%;
    height: 90%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35% auto auto;

    overflow: hidden;
}