body {
    width: 100%;
    height: 100vh;
}

header {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 20%;
    height: 12%;

    border: 1px var(--border) solid;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border-radius: 50px 50px 0 0;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: end;
}

.container-task {
    width: 50%;
    height: 90%;

    border: 1px solid var(--border);

    grid-area: 
    'title title title shop-button';
}

.component-task {
    background-color:
}

