body {
    width: 100%;
    height: 100vh;
}

header {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 20%;
    height: 12%;

    border: 1px var(--border) solid;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border-radius: 50px 50px 0 0;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: end;
}

.container-task {
    padding: 20px 20px 0 20px;
    width: 50%;
    height: 90%;

    border: 1px solid var(--border);
    border-radius: 25px 25px 0 0;

    display: grid;
    grid-template-areas: 
    'title . . button'
    'bar bar bar bar'
    'list list list list'
    ;

    gap: 20px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 7fr;

    position: relative;
}

.container-task * {
    box-sizing: border-box;
}