* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    width: 30%;
    height: 12%;

    border: 1px var(--border) solid;
}

